



<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>Pipes incluidos en Angular - En el Common Module.</p>
</div>


<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas Netas"
            subheader="del presente año"
        >
        <i class="pi pi-dollar "></i>
            {{(ventasNetas +1000000) | number:'1.2-2'}}
        </p-card>
    </div>


    <div class="p-col-4">
        <p-card header="Ventas Brutas"
            subheader="del presente año"
        >
        <i class="pi pi-dollar "></i>
            {{(ventasNetas +2000000) | currency:'EUR':'symbol-narrow': '1.4-4'  }}
        </p-card>
    </div>


    <div class="p-col-4">
        <p-card header="Ganancia Porcentual"
            subheader="del presente año"
        >
        <i class="pi pi-dollar "></i>
            {{ porcentaje  | percent: '2.2-2'}}
        </p-card>
    </div>
</div>